@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,200,300,800");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400, 500,600,700,800,9ee&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter\ -\ Zero\ Zero.woff") format("woff"),
    url("Fonts/Booter\ -\ Zero\ Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff;

    }
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
    }

header .logo img {
    max-width: 250px;
    margin: 0px 40px 0px 0px;
    }
.navigation {
    display: flex;
    }
.navigation li {
    list-style: none;
    margin: 0 20px;
    }
.navigation li a {
    color: #000000;
    font-family: "Supermercado One", cursive;
    font-weight: bold;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    }
.navigation li:hover a {
    color: #de0611;
    }
.search {
    position: relative;
    width: 300px;
    height: 40px;
}
.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 50px;
    backdrop-filter: blur(10px);
    }
.search input::placeholder {
    color: #000000;
    }

.search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    margin-left: 10px;
    color: #000000;
    border-right: 1px solid #000000;
    }
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
.content {
    position: absolute;
    z-index: 1;
    max-width: 600px;
    }
.content img {
    height: 200px;
    width: 500px;
    }
.movieTitle {
    max-width: 250px;
    }
.banner .content h4 {
    color: #000000;
    font-weight: 500;
    color: rgb(8, 19, 29);
    }
.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid black;
    font-weight: bold;
    }
.banner .content h4 span:first-child {
    padding-left: 0;
    }
.banner .content h4 span:last-child {
    border-right: none;
    }
.banner .content h4 span i {
    background: #c42028;
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    font-style: normal;
    border-radius: 2px;
    }
.banner .content p {
    font-size: 1em;
    font-weight: 600px;

    line-height: 1.5em;
    color: #000000;
    margin: 10px 0 20px;
    }
.banner .content .button {
    position: relative;
    }
.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #c42028;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    }
.banner .content .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 2555, 0.2);
    }
.banner .content .button a:hover:nth-child(2) {
    background: #c42028;
    }
.play {
    position: absolute;
    font-size: 20px;
    font-family: "Syne Tactile", cursive;
    font-weight: bold;
    color: #000000;
    bottom: 20px;
    left: 97px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
    }

.play img {
    margin-right: 10px;
    max-width: 40px;
    }
.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.trailer video {
    max-width: 900px;
    outline: none;
    }
.trailer.active {
    visibility: visible;
    opacity: 1;
}
 .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 52px;
}
@media (max-width: 991px) {
    header {
        padding: 20px;
        flex-direction: column;
    }
.navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }
.banner .play {
        left: 50px;
        font-size: 1em;
    }
.play img {
        margin-right: 10px;
        max-width: 40px;
    }
.trailer video {
        max-width: 90%;
    }
}


/*-------------Footer------------*/

:root{
    --bg: #222;
}

.footer-main {
    background: var(--bg);
    color: rgb(172, 118, 118);
    margin: 0;
    padding: 0;
    bottom: 0;
  }
.brand3 {
    text-align: center;
    margin: 0;
    font-size: 100px;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: rgb(255, 255, 255);
  }
.brand4 {
    font-size: 90px;
    margin: 50px; /*Căn lề*/
  }
.brand4:hover {
    color: rgb(209, 83, 83);
  }
  
.main-smile {
    display: flex; /*Thẳngg hàng theo bên trái*/
    bottom: 0;
    top: 0;
   
}
.ul{
    position: relative;
    flex-grow: 1;
    text-align: right;
    margin-right: 50px;
    gap: 50px;
    margin-top: 30px;
}
.ul li{
    position: relative;
    list-style: none;
    display: block;
    float: right;
    margin: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s
}
.ul li:hover{
    z-index: 10000;
    transform: scale(0.75s);
}
.ul li::before{
    content: ' ';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
.ul li:hover::before{
    inset: 0;
}

.ul li::after{
    content: ' ';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}

.ul li a{
    position: relative;
    text-decoration: none;
    z-index: 10;
    transition: 0.5s;
}

.ul li:hover a{
    font-size: 1.5em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--bg)) 
    drop-shadow(0 0 60px var(--clr));
}

.fa-youtube {
    color: red;
    font-size: 2em;
   
}
  

.fa-facebook-square {
    color: #1877f2;
    font-size: 2em;

}
 
.fa-spotify {
    color: rgb(29, 126, 88);
    font-size: 2em;
}
